h1{
    text-align-last:center;
    color: red;
    text-decoration:verdana;
}
h2{
    text-align-last: center;
    color: rgb(255, 106, 93);
    text-decoration: 20px ;
}
h3{
    text-align-last: center;
    color: rgb(0, 0, 0);
    text-decoration: 20px ;
}